/* src/App.css */
:root {
  --primary-color: rgb(160, 5, 160);
  --secondary-color: rgb(137, 12, 12);
  --background-color: #ffffff;
  --text-color: #333;
}

.App {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

h1 {
  color: var(--primary-color);
}

p {
  color: var(--text-color);
}



